extends _template

block replace
    .container
      .card
        .card-header
          | Invoice 
          strong #{moment().format('DD/MM/YYYY')}
        .card-body
          .row.mb-4
            .col-sm-6
              h6.mb-3 De:
              div
                strong Los Ganchos
              br 
              | Plaza El cangrejo, Avenida Manuel Espinoza Batista, Panama. 
              br
              | Primer piso, al lado de nación sushi
            .col-sm-6
              h6.mb-3 Para:
              div
                strong #{usuario.nombre.first} #{usuario.nombre.last}
              br 
              | #{usuario.direccion}
          .table-responsive-sm
            table.table.table-striped
              thead
                tr
                  th.center #
                  th Item
                  th.right Costo Unitario
                  th.center Cantidad
                  th.right Total
              tbody
                - let n = 1;
                - let acum = 0;
                each item in factura
                    tr
                        td.center #{n}
                        td.left.strong #{item.name}
                        td.right #{item.price.toFixed(2)}
                        td.center #{item.quantity}
                        td.right #{(item.total).toFixed(2)}
                        - acum += item.total;
                        - n++;
          .row
            .col-lg-4.col-sm-5
            .col-lg-4.col-sm-5.ml-auto
              table.table.table-clear
                tbody
                  tr
                    td.left
                        strong Subtotal
                    td.right $#{acum.toFixed(2)}
                  tr
                    td.left
                        strong ITMBS (7%)
                    td.right $#{(acum * .07).toFixed(2)}
                  tr
                    td.left
                        strong Total
                    td.right
                        strong $#{(acum*1.07).toFixed(2)}
        form(action='factura/verificar' method='POST')
            input(type="submit", value="Pagar con PayPal").btn.btn-primary 